/** @format */

.footer {
  margin-top: 100px;
  background-color: #0e1133;
  color: #ffff;
}
ul li {
  list-style-type: none;
}
.selectedContact {
  color: #a1a2ab;
  text-decoration: none;
  padding: 15px;
  font-size: 16px;
}
.selectedContact:hover {
  color: #ff8e3c;
}
.heading {
  color: white;
  padding: 15px;
  font-weight: bold;
}
.span {
  font-size: 14px;
  color: white;
}
.pra-text {
  font-size: 16px;
  margin-top: 50px;
}
footer {
  padding: 20px;
}
